body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.alert-wall{
  background-color:black;
  height:60px;
  text-align:center;
}
.alert-title{
  padding-top:10px;
  color:white;
  font-size:30px;
  font-family:'Poppins',sans-serif;
  margin-top:0;
  
}


#map-container {
  position: relative;
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.threats {
  top:20px;
  position: absolute; 
  left: 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(90, 90, 218);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1001; 
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: -40px; 
  background-color: #f4f4f4;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
}

.sidebar h2 {
  margin-top: 0;
}

.threat {
  background-color: #ffcccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
