body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.alert-wall {
  background-color: black;
  height: 60px;
  text-align: center;
}
.alert-title {
  padding-top: 10px;
  color: white;
  font-size: 30px;
  margin: 0;
}

#map-container {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.destination-container {
  background-color:#12171f;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.destination-container input {
  font-family:'Poppins',sans-serif;
  width: 300px;
  height: 25px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.destination-container button {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(90, 90, 218);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.button-container {
  background-color:#12171f;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.threats {
  width: 250px;
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(90, 90, 218);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: -40px;
  background-color: #f4f4f4;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
}
.threat {
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.toast {
  position: fixed;
  top: 20px;
  right: -300px;
  background: #ff4444;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s ease;
  z-index: 2000;
}
